# Don't use quotes( " and ' )

API_ID= 25857231
API_HASH= 1dd5f56534538ad1caaf694617e374a4
SESSION= 1BVtsOKIBu3Y0dKEMEGfbZPTbXLQIH6ZNPyoKV2DPQ_ZGkNKFF3a01BVeT9S960ZExj4cpVVe-FZWItnNW0VPpsqnJHo_Fgdc_7g4hxJd9_mJKHX-AsfPnmTsme0m9N4Z5T81bqFpWJAwpr3acY92zH1EK3nenNLlDwDr-mG491zZk48xn6zzrwNlTQyC-Nhj5vnkWwKQhbZcgRIc1YqjhW00xahV8yR-B1F81FrJ6mlJ2bLby9szLntjeS4uLGD_oXfE16ER701IFIfocCFuzoyXU1L6qVXYMmU_YPZ5hPZ5-DXr7jkaSMyJrfE0-IwXVfJFUGB38HIJ23a4tI0V7No-X-9Ko_s=


# [OPTIONAL]

REDIS_URI= redis-cli -u redis://default:Sopiyana29@redis-12089.crce285.us-east-1-4.ec2.cloud.redislabs.com:12089
REDIS_PASSWORD= Sopiyana29
LOG_CHANNEL= -1003866960097
BOT_TOKEN= 8676218479:AAHIYQpyApk2s5bInhP6xbXim7ejLOCE2I0
